.page-title {
    color:#2c2f3f;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6rem
}

.overlay-text {

      top: 0;
      left:0;
      right: 0;
      bottom: 0;
    z-index: 100;
    position: fixed; //sticky
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #bfc2d3;
    font-family: sans-serif;
    display: none;
    
    &.visible {
        cursor:pointer;
       display: flex;
        animation: overlay-grow 500ms forwards;
    }

    &__small {
        font-size: 3.5rem;
    }

    &__big {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 10rem;
    }


}


//* animations


@keyframes dance {
    0%, 100% {
      transform: rotate(0)
    }
    25% {
      transform: rotate(-30deg)
    }
    75% {
      transform: rotate(30deg)
    }
  }
  
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 15rem;
    }
  }